
*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #90e0eb;
}


/*Styling the Navigation Bar*/
.container {
    max-width: 100%;
    margin: 0 auto;
}

nav{
    display: flex;
    box-sizing: border-box;
    align-items: center; /* Vertically center logo and links */
    justify-content: space-between;
    background-color: #D2EEFF;
    padding: 10px 20px;
    width: 100%;
    list-style: none;
}

label img{
    width: 180px;
    height: auto;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a{
    color: #134a6d;
    font-weight: bold;
    text-transform: uppercase;
    width: auto;
}

li:hover{
    background-color: rgb(245, 251, 255);
    border-radius: 5px;
    padding: 5px;
}

.contact-container a{
    color:#134a6d ;
    font-size: 20px;
}

.contact-container{
    padding: 30px;
    height: 100px;
}

.head-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large; 
    padding-top: 10px;
}

.card, p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
