*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body { 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #C1DD93;
    
}


.container {
    max-width: 100%;
    margin: 0 auto;
}

nav{
    display: flex;
    box-sizing: border-box;
    align-items: center; /* Vertically center logo and links */
    justify-content: space-between;
    background-color: #D2EEFF;
    padding: 10px 20px;
    width: 100%;
}

label img{
    width: 180px;
    height: auto;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li a{
    color: #134a6d;
    font-weight: bold;
    text-transform: uppercase;
    width: auto;

}

li:hover{
    background-color: rgb(245, 251, 255);
    border-radius: 5px;
    padding: 5px;
}

.contact-container a{
    color:#134a6d ;
    font-size: 20px;
}

.contact-container{
    padding: 30px;
    height: 100px;
}

hr{
    border: none;
    color: #ffffff;
    border-top: 1px solid white;
}

.header-container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 90px;
    padding: 60px;
    margin: 30px;
    
}


.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #6E8C3D;
}


.btn-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.btn{
    text-align: center;
    margin: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 10%;
    background-color: #F8D094 ;
}

.btn a{
    text-transform: uppercase;
    color: #6E8C3D;
}

.footer-container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 90px;
    padding: 30px;
    margin: 30px;
}

.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #6E8C3D;
}

.car{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #6E8C3D;
    margin: 10px;
}

.btn2-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.btn2{
    text-align: center;
    margin: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 10%;
    background-color: #F8D094 ;
}

.btn2 a{
    text-transform: uppercase;
    color: #6E8C3D;
}


.energy-container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 90px;
    padding: 30px;
    margin: 30px;
}

.energy{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #6E8C3D;
}

.eng{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #6E8C3D;
    margin: 10px;
}

.btn3-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.btn3{
    text-align: center;
    margin: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 10%;
    background-color: #F8D094 ;
}

.btn3 a{
    text-transform: uppercase;
    color: #6E8C3D;
}
