body { 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 40px; 
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
}

.form-container{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    max-width: 900px;
    min-width: 100px;
    width: 70%;
    padding: 20px;
    border-radius: 5px;
}

.register {
    color: #6E8C3D;
    text-align: center;
}

form { 
    width: 400px; 
    display: flex; 
    flex-direction: column; 
}

form input{
    background-color: #f0f0f0;  
}

form::placeholder {
    color: #B9B9B9;
}
      
label { 
    margin-top: 10px; 
    font-weight: bold; 
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.gender{
    font-weight: bolder;
    padding-bottom: 5px;
    
}

label, input[type="radio"] {
    color: #000000;
    font-weight: lighter;
}

.gender-options { 
    display: flex; 
    gap: 15px; 
    margin-top: 5px; 
    margin-bottom: 20px;
}

.gender-options label { 
    font-weight: normal; 
}

input[type="checkbox"] {
    margin-top: 20px;
}

.link{
    color: #39491e;
    text-decoration: none;
    cursor: pointer;
}

form .link:hover{
    text-decoration: underline;
}

button { 
    margin-top: -20px; 
    padding: 10px; 
    background-color: #6E8C3D;
    color: white; 
    border: none; 
    padding: 10px, 10px;
    border-radius: 4px;
    cursor: pointer; 
    border-bottom: 2px solid #39491e;
    cursor: pointer;
}

button:hover { 
    background-color: #c4dd9b; 
    color: black;
}

form p {
    display: flex;
    justify-content: right;
}

.login{
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #39491e;
}

form .login:hover{
    text-decoration: underline;
}

.message { 
    display: flex;
    text-align: center;
    margin-bottom: 5px; 
    font-weight: bold; 
    width: 150%;;
    animation: fadeOut 3s ease-in forwards;
    animation-delay: 3s; /* Wait 5 seconds before fading */
} 

.error { 
    color: red; 
}

.success { 
    color: green; 
}

/* Fade-out animation */
  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }


