<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/carbon_footprint.css">
    <title>Carbon Footprint Calculator</title>
</head>
<body>
    
    <!--Navigation Bar-->
    <div class="container">
        <nav>

           <label class="logo"><a href="/"><img src="/static/Images/RLST_Logo.png"></a></label>

            <div>
                <ul  class="links">
                    <li><a href="/articles.html">Articles</a></li>
                    <li><a href="/energy_usage.html">Energy Usage</a></li>
                    <li><a href="/schedule.html">Schedule</a></li>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>

            <div class="contact-container">
                    <p><a href="#"><b>Call Us:</b> 0129 475 0067</a></p>
            </div>
        </nav>

        <!--Form-->

    <div class="container2">
        <h1 class="header"> Calculate Your Carbon Footprint</h1>
    </div>
        <hr>


<div>
    <script src="/static/carbon_footprint.js"></script>
</div>

</body>
</html>