<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolsa Technologies</title>
    <link rel="stylesheet" type="text/css" href="/static/homepage.css">
</head>
<body>
    
    <!--Navigation Bar for the Home Page-->
    <div class="container">
        <nav>

            <label class="logo"><a href="/"><img src="/static/Images/RLST_Logo.png"></a></label>

            <div>
                <ul  class="links">
                    <li><a href="/articles.html">Articles</a></li>
                    <li><a href="/carbon_footprint.html">Carbon Footprint</a></li>
                    <li><a href="/energy_usage.html">Energy Usage</a></li>
                    <li><a href="/schedule.html">Schedule</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>

            <div class="contact-container">
                    <p><a href="#"><b>Call Us:</b> 0129 475 0067</a></p>
            </div>
        </nav>
    
        <br>
        <br>

        <div class="header-container">
            <h1 class="header"> Empowering the Future with Sustainable Living</h1>
            <div class="btn-container">
                <button class="btn"><a href="#services">Our Services -></a></button>
            </div>
        </div>
        <hr>

        <br>
        <br>
        <br>
        <!--Carbon Footprint Calculator link-->
        <div class="footer-container">
            <h2 class="footer">Use our Carbon footprint Calulator! </h2>
            <p class="car">Calculate your Carbon Footprint.</p>

            <div class="btn2-container">
                <button class="btn2"><a href="/carbon_footprint.html">Calculate -></a></button>
            </div>
        </div>

        <br>
        <br>
        <br>

        <!--Energy Usage Calculator link-->
        <div class="energy-container">
            <h2 class="energy">Carbon footprint Calulator! </h2>
            <p class="eng">Calculate your Energy Usage.</p>

            <div class="btn3-container">
                <button class="btn3"><a href="/energy_usage.html">Calculate -></a></button>
            </div>
        </div>

        <br>
        <br>
        <br>

        <hr>

        <br>
        <br>
        <br>
        <div id="services" >
            <h1>Our Servcies</h1>
            
            <br>
            <br>
            <div clas="service-container">
                <ol class="service">
                    <li>Solar Panel Installation and Maintenance</li>
                    <li>Electric Vehicle (EV) Charging Stations</li>
                    <li>Smart Home Energy Management Systems.</li>
                </ol>
            </div>   
        </div>

<div>
    <script src="/static/homepage.js"></script>
</div>

    






        
            
        


</body>
</html>