<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>
    
    <!--Navigation Bar-->
    <div class="container">
        <nav>

           <label class="logo"><a href="/"><img src="/static/Images/RLST_Logo.png"></a></label>

            <div>
                <ul  class="links">
                    <li><a href="/articles.html">Articles</a></li>
                    <li><a href="/carbon_footprint.html">Carbon Footprint</a></li>
                    <li><a href="/energy_usage.html">Energy Usage</a></li>
                    <li><a href="/schedule.html">Schedule</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>

            <div class="contact-container">
                    <p><a href="#"><b>Call Us:</b> 0129 475 0067</a></p>
            </div>
        </nav>

    <div class="form-container"> 

        
        <!--Login Form-->
        <form class="forms" action="{{url_for('login')}}" method="POST">

            {% if message %}
                <div class="message {% if message_type == 'error' %}error{% elif message_type =='success' %}success{%endif%}">{{ message }}</div>
            {% endif %}
        

            <div class="text">
                <h3 class="text">Welcome Back</h3>
                <h1 class="text"><b>LOG IN</b></h1>
            </div>

            <input type="email" name="email" placeholder="Email Address" >
                <br>
                <br>
            <input type="password" name="password" placeholder="Password" >
         
            <p><a class="forgot" href="#"> Forgot Password? </a></p>
            
            <button type="submit" class="btn">LOGIN</button>

            
            <p class="link-container">Don't have an Account? <a class="link" href="{{url_for ('register')}}">Register</a></p>
            
        </form>

    </div>


<div>
    <script src="/static/login.js"></script>
</div>

</body>
</html>