<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    
    <nav>

    </nav>

    <div>
            <h2>Register</h2>
        <div>
            <!--User Registration Form-->
            <form class="forms" action="{{url_for('register')}}" method="POST">

                <input type='text', name="fullname", placeholder="Full Name" >
                <br>
                <br>
                <input type='email', name="email", placeholder="Email Address" >
                <br>
                <br>
                <input type='password', name="password", placeholder="Password" >
                <br>
                <br>
                <input type='date', name="dob", placeholder="Date of Birth" >
                <br>
                <br>
                <label>Gender:</label>
                <div class="gender_options">
                    <label><input type='radio', name="gender", value="Male" >Male</label>

                    <label><input type='radio', name="gender", value="Female" >Female</label>
                
                    <label><input type='radio', name="gender", value="Other" >Other</label>
                </div>

                <br>
                <label><input type='checkbox', name="gender", value="Other" >I agree the <a href="#">Terms</a> and <a href="#">Conditions</a> of the website</label>

                <br>
                <br>
                <button type="submit">REGISTER</button>
            </form>

            {% if message %}
                <p style="color: red;">{{ message }}</p>
            {% endif %}
        </div>
    </div>



</body>
</html>