<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    
    <!--Navigation Bar-->
    <div class="container">
        <nav>

            <label class="logo"><a href="/"><img src="/static/Images/RLST_Logo.png"></a></label>

            <div>
                <ul  class="links">
                    <li><a href="/articles.html">Articles</a></li>
                    <li><a href="/carbon_footprint.html">Carbon Footprint</a></li>
                    <li><a href="/energy_usage.html">Energy Usage</a></li>
                    <li><a href="/schedule.html">Schedule</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>

            <div class="contact-container">
                    <p><a href="#"><b>Call Us:</b> 0129 475 0067</a></p>
            </div>
        </nav>

  
    <div class="form-container">


        <!--User Registration Form-->
        <form class="forms" action="{{url_for('register')}}" method="POST">

        {% if message %}
            <div class="message {% if message_type == 'error'%}error{% elif message_type == 'success'%}success{% endif %}">{{ message }}</div>
        {% endif %}
        
            <div>
                <h2 class="register">Register</h2>
            </div>

            <input type='text', name="fullname", placeholder="Full Name" required>
                <br>
                <br>
            <input type='email', name="email", placeholder="Email Address" required>
                <br>
                <br>
            <input type='password', name="password", placeholder="Password" required>
                <br>
                <br>
            <input type='date', name="dob", placeholder="Date of Birth" required>
                <br>
                <br>

            <label class="gender">Gender:</label>
            <div class="gender_options">
                <label><input type='radio', name="gender", value="Male" required>Male</label>

                <label><input type='radio', name="gender", value="Female" required>Female</label>
                
                <label><input type='radio', name="gender", value="Other" required>Other</label>
            </div>

                <br>
            <label><input type='checkbox', name="gender", value="Other" required>I agree the <a class="link" href="#">Terms</a> and <a class="link" href="#">Conditions</a> of the website</label>

                <br>
                <br>
            <button type="submit">REGISTER</button>

            <p>Already have an Account? <a class="login" href="{{url_for ('login')}}"> Log In </a></p>
        </form>
    </div>

<div>
    <script src="/static/register.js"></script>
</div>


</body>
</html>